#root{
  height: 100%;
  width: 100%;
  background: #243665;
}
html {
  background: #243665;
}

.main{
  background: #243665;
}

.spinner-container{
  text-align: center;
  float: right;
  margin-right: 40%;
  margin-top:9.5%;
}
.methodButtons{
  padding: 0.25rem;

}
.title{
  margin-top:1.5vh
}
.header-text {
  color: deepskyblue;
  font-size: 24px;
  display: inline-block;
}

.header-icon{
  display: inline-block;
  color: deepskyblue;
}
.cityButtons{
  margin-top:1.5vh;
  padding: 0.25rem;
}
.map {
  height: 85.6%;
  width: 92.55%;
  position: absolute;
  right: 0px;
  margin-right: 0.25rem;
  border-color: deepskyblue;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.1rem;
}
.side-bar-container{
  margin-left: 0.25rem;
}
.side-bar{
  width: 7%;
  height: 100%;
}

.footer p{
    position: absolute;
    right: 37.5%;
    bottom: 0.5%;
    color: deepskyblue;
    background: #243665;
}
.footerrest p{
  position: absolute;
  right: 37.5%;
  bottom: 0.5%;
  color: deepskyblue;
  background: #243665;
}
.rest{
  height:3.3vh;
}
.restnormal{
  height:3.5vh;
}
.footerrest {
  margin-top: 16rem;
}
.scale{
  width: 50% !important;
}
.modalHeader, .modalContent, .modalAction, .modalDropdown{
  background-color: #243665 !important;
  color: deepskyblue !important;

}
.modalAction Button{
  background-color: deepskyblue !important;
  color:#243665 !important;
}
.modalDropdown{
  border-width: 0.25rem !important;
  border-radius:0.1rem;
  border-color: deepskyblue !important;
}

.modalDropdown option{
  background-color: deepskyblue !important;
  color:#243665 !important;

}
.selection {
  background-color: #243665 !important;
}

.accordion{
  color: rgba(36,54,101,0.7) !important;

  background-color: rgba(0,191,255,0.7) !important;
  white-space: pre-line !important;
}
.display-linebreak {

}


